<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="main.js"></script>
    <link type="text/css" rel="stylesheet" href="css/css.css"/>
    <meta charset="UTF-8">
    <title>the game</title>
</head>
<body ng-controller="appController">

<p id="cookie">Korzystanie z witryny oznacza zgodę na wykorzystywanie plików cookie zgodnie z aktualnymi ustawieniami
    przeglądarki. <a href="http://pl.wikipedia.org/wiki/Ciasteczko">Więcej &raquo;</a></p>

<div class="main">

    <!--<p>{{ game.wylosowanyNumer}}</p>-->

    <div class="alert alert-info" ng-show="game.message">
        <strong>Wskazówka: </strong> {{game.message}}
    </div>

    <p class="main" ng-hide="game.czyWygrana">Wprowadź liczbę z zakresu do 0 do 100:</p>

    <p class="main" ng-show="game.czyWygrana">Wygrałes w {{game.iloscKrokow}} krokach</p>

    <p class="main"><input pattern="[\d\.]*" type="number" max="{{game.max}}" min="{{game.min}}" ng-model="game.proponowanaWartosc"/></p>

    <div class="main">
        <button ng-hide="game.czyWygrana" type="button" ng-click="check()" class="btn btn-primary" data-toggle="button"
                aria-pressed="false" autocomplete="off">
            Sprawdź
        </button>
        <p class="main">Liczba kroków:{{game.iloscKrokow}}</p>
    </div>
</div>
</body>
</html>